<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <interface_list>
        <interface>wlp4s0</interface>
        <!-- set mac and ip during the startup if found. -->
        <mac_address>00:01:02:22:24:44</mac_address>
        <ip_address>192.168.1.1</ip_address>
    </interface_list>
    <rx_buffer_pool_size>1024</rx_buffer_pool_size>
    <vlan_table>
        <vlan_entry>
            <interface>dummy0</interface>
            <in_vid>10</in_vid>
            <out_vid>11</out_vid>
        </vlan_entry>
        <vlan_entry>
            <interface>dummy0</interface>
            <in_vid>20</in_vid>
            <out_vid>22</out_vid>
        </vlan_entry>
    </vlan_table>
    <events>
        <event_transmit_timer_intvl_sec>2</event_transmit_timer_intvl_sec>
        <store_events>true</store_events>
        <event_storage_file>netos_events.bin</event_storage_file>
    </events>
    <protocols>
        <macsec>
            <n_secy>128</n_secy>
            <secy>
                <ifname>dummy0</ifname>
                <cipher_suite>aes_gcm_128</cipher_suite>
                <tx_sci>00:11:22:00:11:22:33:44</tx_sci>
                <tx_an>0</tx_an>
                <rx_sci>00:12:22:00:12:22:00:11</rx_sci>
                <rx_an>0</rx_an>
                <sak>macsec.bin</sak>
            </secy>
        </macsec>
        <arp>
            <arp_cache_size>32</arp_cache_size>
            <arp_entry_invalidation_time_sec>300</arp_entry_invalidation_time_sec>
        </arp>
        <ipv4>
            <drop_fragments>true</drop_fragments>
        </ipv4>
        <icmp>
            <min_echo_payload_len>0</min_echo_payload_len>
        </icmp>
    </protocols>
    <rule_file>../config/rules.rules</rule_file>
    <egress_control>
        <pfifo>
            <max_packets>100</max_packets>
        </pfifo>
    </egress_control>
</configuration>
