
#
# most or all elements are optional and the relation
# is through the links.
#
# types of rules:
#   allow - allow the frame to pass through.
#   alert - alert via syslog / udp socket / log file.
#   deny - deny the frame if this is matched - highest priority.
#   route - route the frame if this is matched.
#
# if a frame hits multiple rules and one of them is deny, the deny will take the priority.
# so until unless all the rules are examined the frame decision is not made fully.
#
# if an allow and route match, the route must take the priority.
#
# For TCP/UDP we could write something like:
#
# allow src_mac <> dst_mac <> ethertype <>
# allow src_mac <> dst_mac <> src_ip <> dst_ip <> protocol <> from_src_port <> to_dst_port <>
#
# For icmp we could write something like:
#
# allow src_mac <> dst_mac <> src_ip <> dst_ip <> protocol <> type <> code <>

allow, src_mac <00:11:22:33:11:11>, dst_mac <00:12:10:11:11:44>, ethertype <0x0800>
allow, src_ip <any>, dst_ip <any>, protocol <tcp>, to_dst_port <1122>
allow, src_ip <192.168.0.1>, dst_ip <192.168.0.12>, protocol <icmp>, type <8>, code <0>
allow, src_ip <192.168.0.1>, dst_ip <192.168.0.12>, protocol <tcp>, from_src_port <1111>, to_dst_port <1112>
allow, src_ip <192.168.0.1>, dst_ip <192.168.0.12>, protocol <icmp>
alert, src_ip <192.168.0.1>, dst_ip <192.168.0.11>, protocol <icmp>, message <"icmp frames from 192.168.0.1">

#
# route src_ip <> dst_ip <> to from_ip <> dst_ip <>
route, src_ip <192.168.0.1>, dst_ip <192.168.0.12>, rewrite_src_ip <10.1.1.1>, rewrite_dst_ip <10.1.1.2>

